body{
    background: url("../img/Terrakotta\ Mentale\ Wellness\ \ Meditation\ Promotion\ Fitness\ &\ Wellness\ Feed-Anzeige.png");
    padding: 1px;
}
h1{
    color: rgb(94, 255, 1);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: rgb(255, 255, 255);
}
h5{
    height: 23445555px;
    color: rgb(6, 69, 245);
    font-family: initial;
}
.rasul{
    width: 200x;
margin: 43px auto;
padding: 234px;

}
.auto{
    width: 2356;
    margin: 235 auto;
    padding:34;
}
.lambo{
    width: 234px;
    margin: 246px;
    padding: 123px;
    font-size: 23px;
}
.text{
    height: 100px
    ;
}
h6{
    height: 100px;
    color: rgb(255, 0, 0);
}
a{
    color: rgb(43, 255, 0);
text-decoration:none;
margin-left: 5px;
font-weight: bolder;
font-style: oblique;
}
.gta{
    background-color: rgba(7, 177, 1, 0.568);
    padding: 12px;
}
.gta2{
background-color: rgb(151, 113, 41);
padding: 240px;
}

.Google{
    background-color: rgb(255, 254, 254);
    padding: 18px;
}
.ma{
    color: rgb(94, 255, 0);
   height: 10000px;
}